GITHUB_TOKEN="GITHUB TOKEN"
MONGODB_URL="mongodb://...?authSource=admin"

# API
POSTGRESQL_USERNAME=...
POSTGRESQL_PASSWORD=...
POSTGRESQL_SERVER=db
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=emycoder-db
DOMAIN=localhost
ENVIRONMENT=dev
BACKEND_CORS_ORIGINS=http://localhost,http://localhost5173

JWT_SECRET_KEY=...
