<link href="{{ url_for('static', path='css/chat.css') }}" rel="stylesheet">

<div id="chat" class="hidden">
    <div class="input-code-nav">
        <h1 class="input-title">Chat</h1>
    </div>

    <div id="chat-messages">
    </div>

    <div id="chat-bar">
        <textarea id="input-chat" placeholder="Ask something" class="text-input"></textarea>
        <button id="send-chat-btn" class="model-btn" type="button">
            <img src="/static/img/send.png" alt="" draggable="false" width="0" height="0">
        </button>
    </div>
</div>
