<link href="{{ url_for('static', path='css/navbar.css') }}" rel="stylesheet">

<div id="nav-bar" class="color-primary">
    <button id="sidebar-btn">
        <img src="/static/img/sidebar.png" alt="" draggable="false" width="0" height="0">
    </button>
    <h3 style="flex: 1" class="color-secondary">Version {{model_version}}</h3>
    <a class="nav-title" href="/">EmyCoder</a>
    <a class="nav-link" href="https://github.com/EmyLungu" target="_blank" rel="noopener noreferrer">
        <img src="/static/img/github.png" alt="" draggable="false" width="0" height="0">
        <h3 class="color-secondary">@Lungu Emanuel-Leonard</h3>
    </a>
</div>

