#chat {
    flex: 0.5;
    height: 100%;

    background-color: var(--bg-ternary);
    border-radius: 1.5em 0 0 1.5em;
    padding: 1em;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    transition: 0.5s ease-out;
}

#chat.hidden {
    display: none;
}

#chat-bar {
    margin-top: auto;
    height: 4em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#input-chat {
    border: 0;
    background-color: var(--bg-primary);
    font-size: 0.8em;
}

#send-chat-btn {
    width: 2em;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: 0;
}

#send-chat-btn img {
    display: block;
    height: 1.5em;
    width: 1.5em;
    object-fit: contain;
    filter: invert(1);
}

#chat-messages {
    margin: 1em 0 2em 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1em;
}

.chat-message {
    background-color: var(--bg-primary);
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: left;
}

.chat-theirs {
    margin-right: auto;
}

.chat-mine {
    margin-left: auto;
}


#open-chat-btn {
    width: 3em;
    height: 3em;
    left: 1em;
    border: 0;
    border-radius: 12px;
    background-color: transparent;
    overflow: hidden;
}

#open-chat-btn:hover {
    background-color: var(--bg-btn);
    img {
        filter: invert(0);
    }
}

#open-chat-btn img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: invert(1);
    transition: 0.3s ease-out;
}

#open-chat-btn.direction {
    img {
        transform: rotate(180deg);
    }
}
