#nav-bar {
    flex: 0.05;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.nav-title {
    flex: 1;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    color: var(--bg-btn);
    text-underline-offset: 8px;
    text-decoration-style: dotted;
    text-decoration-thickness: 10px;
}

.nav-link {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    justify-content: center;
}

.nav-link h3:hover {
    color: var(--bg-btn);
}

.nav-link img {
    display: block;
    height: 1.8em;
    width: 1.8em;
    object-fit: contain;
    filter: invert(1);
}

#sidebar-btn {
    position: absolute;
    width: 3em;
    height: 3em;
    left: 1em;
    border: 0;
    border-radius: 12px;
    background-color: transparent;
    overflow: hidden;
}

#sidebar-btn:hover {
    background-color: var(--bg-btn);
    img {
        filter: invert(0);
    }
}

#sidebar-btn img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: invert(1);
    transition: 0.3s ease-out;
}

#sidebar {
    width: 250px; 
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 16px;
    
    transition: width 0.3s ease-out;
    overflow: hidden; 
    white-space: nowrap; 
}

#sidebar.hidden {
    width: 0;
    padding: 0;
}

#sidebar-btn.direction {
    img {
        transform: rotate(180deg);
    }
}

.sidebar-link {
    color: var(--bg-btn);
    padding: 16px 0;
    padding-left: 16px;
    border-radius: 16px;
    font-weight: bold;

    display: flex;
    align-items: center;

    text-decoration: none;
}

a:has(.sidebar-link) {
    text-decoration: none;
}

.sidebar-link:hover {
    background-color: var(--bg-primary);
}
