{% extends "parts/base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<link href="{{ url_for('static', path='css/home.css') }}" rel="stylesheet">

<div id="main">
    <div id="home-container">
        <h1 class="home-title">Welcome to EmyCoder - v{{model_version}}</h1>
        <a class="home-subtitle" href="https://github.com/EmyLungu" target="_blank" rel="noopener noreferrer">
            @Lungu Emanuel-Leonard
        </a>

        <h1 class="home-section-title">Pages</h1>
        
        <div class="home-grid">
            <a href="/"><div class="grid-btn">Home page</div></a>
            <a href="/lang-predict"><div class="grid-btn">Language Predictor</div></a>
            <a href="/run"><div class="grid-btn">Run Program</div></a>
        </div>
    </div>
</div>

{% endblock %}
