{% extends "parts/base.html" %}

{% block title %}Run Program{% endblock %}

{% block content %}
<link href="{{ url_for('static', path='css/code.css') }}" rel="stylesheet">

<div id="main">
    <div id="left">
        <div id="input-code-nav">
            <h1 class="input-title">Run a program</h1>
        </div>
        <textarea id="input-code"></textarea>

        <div id="input-code-nav" style="margin-top: 0.5em;">
            <div class="btn-pannel">
                <label for="file">Choose file to upload</label>
                <input type="file" id="img-code" name="file" multiple/>
                <button id="extract-code-btn" class="model-btn" type="button">Get Code</button>
            </div>
            <div class="btn-pannel">
                <button id="run-btn" class="model-btn" type="button">Run</button>
            </div>
        </div>
    </div>
    <div id="right" style="flex: 5">
        <h1>Output</h1>
        <div class="output-container">
            <h1 id="output" class="execution-output"></h1>
        </div>
    </div>
</div>

<script type="module" src="{{ url_for('static', path='js/post-action.js') }}"></script> 
<script type="module" src="{{ url_for('static', path='js/code-input.js') }}"></script> 
<script type="module" src="{{ url_for('static', path='js/run.js') }}"></script> 
<script type="module" src="{{ url_for('static', path='js/code-extractor.js') }}"></script> 
{% endblock %}
