{% extends "parts/base.html" %}

{% block title %}Run Program{% endblock %}

{% block content %}
<link href="{{ url_for('static', path='css/code.css') }}" rel="stylesheet">

<div id="main">
    {% include "parts/chat.html" %}
    <!-- <div id="resizer-chat" class="resizer"><div class="resizer-inner"></div></div> -->
    <div id="left">
        <div class="input-code-nav">
            <button id="open-chat-btn">
                <img src="/static/img/sidebar.png" alt="" draggable="false" width="0" height="0">
            </button>
            <h1 class="input-title">Run a program</h1>
        </div>

        <textarea id="input-code" class="text-input"></textarea>
        <!-- <div id="editor-container" class="text-input"></div> -->

        <div class="input-code-nav" style="margin-top: 0.5em;">
            {% include "parts/extract-code.html" %}
            <div class="btn-pannel">
                <button id="run-btn" class="model-btn" type="button">Run</button>
            </div>
        </div>
    </div>
    <div id="resizer-code" class="resizer"><div class="resizer-inner"></div></div>
    <div id="right">
        <h1>Output</h1>
        <div class="output-container">
            <h1 id="output-classifier" class="execution-output"></h1>
            <h5 id="output-status"></h5>
            <hr>
            <span id="output-loader" class="loader" style="display: none"></span>
            <h1 id="output" class="execution-output"></h1>
        </div>
    </div>
</div>

<script type="module" src="{{ url_for('static', path='js/post-action.js') }}"></script> 
<script type="module" src="{{ url_for('static', path='js/code-input.js') }}"></script> 
<script type="module" src="{{ url_for('static', path='js/run.js') }}"></script> 
<script type="module" src="{{ url_for('static', path='js/code-extractor.js') }}"></script> 
<script type="module" src="{{ url_for('static', path='js/resizer.js') }}"></script> 

<script type="module" src="{{ url_for('static', path='js/chat.js') }}"></script>
{% endblock %}
